*.dll
*.pdb
*.suo
*.lock.json
*.dll.mdb

Log*.txt
Traces.svclog

.svn
.vs

bin
obj
packages

*.designer.cs
*.CodeAnalysisLog.xml
*.lastcodeanalysissucceeded
*.targets
*.props
*.csproj.bak
*.targets
*.props
